<div class="container">
  <div class="row">
    <div class="col-sm-6 d-flex flex-row">

      <% @cocktails.each do |cocktail| %>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= cocktail.name %></h5>
            <p class="card-text">

              <% cocktail.doses.each do |dose| %>
              <p><%= dose.description %> of <%= dose.ingredient.name %></p>
              <% end %>
              </p>
            <p><%= link_to 'view details', cocktail_path(cocktail)  %></p>
            <p><%= link_to 'delete cocktail', cocktail_path(cocktail), method: :delete %></p>
          </div>
        </div>
      <% end %>
    </div>

    </div>
  </div>
</div>
