<h1><%= @cocktail.name %></h1>

<% @doses.each do |dose| %>
  <p class="description"><%= dose.description %> of <%= dose.ingredient.name %>
  <%= link_to 'Remove', dose_path(dose), method: :delete  %>
   </p>
<% end %>


<%= link_to 'Add a new dose to my cocktail', new_cocktail_dose_path(@cocktail), class: 'card-link' %>
<%= link_to 'Add a photo to cocktail', new_cocktail_dose_path(@cocktail) %>

 <p><%= link_to 'delete cocktail', cocktail_path(@cocktail), method: :delete %></p>
